<h1>Ariel Samaniego</h1>
<h2>Me gusta la pizza y los videojuegos</h2>
<h1>Wislon Criollo</h1>
<h2>La razon por la cual elegi la carrera de desarrollo de sofware es debido a que estudie 
un poco en el colegio y sali con un titulo de Tics y soporte harware y me llamo la atencion 
la computacion desde primero y decidi estudiar esta carrera por esta razon.</h2>
<h1>Ariel Samaniego</h1>
<h2>La razon por la cual elegi la carrera de desarrollo fue por que es necesario para la sosicedad actual,
mie edad es de 19 años, siendo mis gustos los videojuegos y la pizza.
</h2>